* {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.triangle {
  position: relative;
  top: 30.5px;
  left: 5px;
  padding-top: 15px;
  border-style: solid;
  height: 0;
  width: 0;
  border-color: black transparent transparent;
  border-width: 4px 4px 0; }

.play {
  border: 2px solid black;
  border-radius: 100%;
  padding: 10px 10px 9px 12px;
  margin-right: 10px;
  font-size: 0.35em;
  position: relative;
  bottom: 10px;
  left: 5px; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea {
  appearance: none;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover {
    border-color: #c2c2c2; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover {
      border: 1px solid #f3f3f3; }
  [type='color']::placeholder, [type='date']::placeholder, [type='datetime']::placeholder, [type='datetime-local']::placeholder, [type='email']::placeholder, [type='month']::placeholder, [type='number']::placeholder, [type='password']::placeholder, [type='search']::placeholder, [type='tel']::placeholder, [type='text']::placeholder, [type='time']::placeholder, [type='url']::placeholder, [type='week']::placeholder, input:not([type])::placeholder, textarea::placeholder {
    color: #858585; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  width: 100%; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

.container {
  display: block;
  background: #f3f3f3; }
  .container::after {
    clear: both;
    content: "";
    display: block; }

.nav {
  height: 151px;
  width: 100%;
  border-bottom: 4px solid orange;
  margin-bottom: 24px; }

.social-media {
  height: 28px;
  width: 100%;
  background: black; }

.main {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto; }
  .main::after {
    clear: both;
    content: "";
    display: block; }

.main-content {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 65.47377%; }
  .main-content:last-child {
    margin-right: 0; }

.top-content {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 100%;
  margin-bottom: 2em; }
  .top-content:last-child {
    margin-right: 0; }

.big {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 65.47377%;
  background: white;
  box-shadow: 2px 2px 2px #e7e7e7;
  height: 591.31px; }
  .big:last-child {
    margin-right: 0; }
  .big .caption {
    position: relative;
    top: -25px; }
    .big .caption h5 {
      text-transform: uppercase;
      color: #fa9000;
      font-size: .7em;
      display: inline-block;
      padding: 5px 8px;
      background-color: white; }
  .big .caption h5 {
    text-transform: uppercase;
    color: #fa9000;
    font-size: 1.05em; }

.medium-container {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 30.94754%;
  height: 591.31px; }
  .medium-container:last-child {
    margin-right: 0; }

.medium {
  background: white;
  box-shadow: 2px 2px 2px #e7e7e7;
  height: 279.655px; }
  .medium .caption {
    position: relative;
    top: -15px; }
    .medium .caption h5 {
      text-transform: uppercase;
      color: #fa9000;
      font-size: .7em;
      display: inline-block;
      padding: 5px 8px;
      background-color: white; }
  .medium:first-of-type {
    margin-bottom: 2em; }

.rectangle-container {
  margin-bottom: 2em;
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 100%; }
  .rectangle-container:last-child {
    margin-right: 0; }

.rectangle {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 48.21066%;
  background: white;
  box-shadow: 2px 2px 2px #e7e7e7;
  height: 175px; }
  .rectangle:last-child {
    margin-right: 0; }
  .rectangle .caption {
    position: relative; }
    .rectangle .caption h5 {
      text-transform: uppercase;
      color: #fa9000;
      font-size: .7em; }
  .rectangle img {
    float: left; }

.small-container {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 100%; }
  .small-container:last-child {
    margin-right: 0; }

.small {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 22.31598%;
  background: white;
  box-shadow: 2px 2px 2px #e7e7e7;
  height: 165px; }
  .small:last-child {
    margin-right: 0; }
  .small .caption {
    position: relative; }
    .small .caption h5 {
      text-transform: uppercase;
      color: #fa9000;
      font-size: .7em; }

.main-side-bar {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 30.94754%;
  background: white;
  box-shadow: 2px 2px 2px #e7e7e7;
  height: 656px; }
  .main-side-bar:last-child {
    margin-right: 0; }
  .main-side-bar .caption {
    position: relative; }
    .main-side-bar .caption h5 {
      text-transform: uppercase;
      color: #fa9000;
      font-size: .7em; }

.social-media {
  display: block; }
  .social-media::after {
    clear: both;
    content: "";
    display: block; }

.social-media-icons {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  height: 28px;
  width: 100%; }
  .social-media-icons::after {
    clear: both;
    content: "";
    display: block; }
  .social-media-icons img {
    height: 100%;
    float: right; }

.nav-main {
  display: block;
  padding-top: 10px; }
  .nav-main::after {
    clear: both;
    content: "";
    display: block; }

.nav-main-content {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto; }
  .nav-main-content::after {
    clear: both;
    content: "";
    display: block; }

.logo {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 9.36865%;
  margin-right: 0; }
  .logo:last-child {
    margin-right: 0; }
  .logo img {
    height: 93px;
    width: 75px; }

.nav-list {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 78.42111%;
  margin-right: 0;
  padding-top: 30px; }
  .nav-list:last-child {
    margin-right: 0; }

.now {
  margin-top: 13px; }

.live-search {
  float: left;
  display: block;
  margin-right: 3.57869%;
  width: 11.95812%;
  margin-right: 0;
  padding-top: 32px;
  padding-left: 7px; }
  .live-search:last-child {
    margin-right: 0; }
  .live-search a {
    color: #fa9000;
    font-weight: 800;
    position: relative;
    bottom: 7px; }

.search {
  height: 29px;
  width: 29px;
  border-radius: 100%;
  background-color: #e6e6e6;
  margin-left: 30px;
  padding: 4px;
  opacity: 0.5; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

.dropdowns {
  text-align: center; }
  .dropdowns li {
    font-size: 1.15em;
    display: inline;
    margin-left: 15px;
    margin-right: 15px; }
    .dropdowns li a {
      color: black; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b6b6b6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #f3f3f3;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #f3f3f3;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

li {
  font-weight: bold; }

.big h1 {
  font-size: 2.8em;
  padding: 10px;
  margin-bottom: 0; }
.big h5 {
  margin-bottom: 0; }
.big p {
  font-size: 1.4em;
  color: #777;
  padding: 10px; }

h6 {
  margin-left: 27px;
  display: inline-block;
  font-size: .95em;
  font-weight: normal; }

.now a {
  margin-left: 12px;
  letter-spacing: -0.5px;
  font-size: .9em;
  color: gray; }
  .now a:first-of-type {
    margin-left: 10px; }

/*# sourceMappingURL=application.css.map */
