html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

.container {
  @include row();
  background: $light-gray;
}

.nav {
  @include size(100%, 151px);
  border-bottom: 4px solid orange;
  margin-bottom: 24px;
}

.social-media {
  @include size(100%, 28px);
  background: black;
}

.main {
  @include outer-container;
}

.main-content {
  @include span-columns(8);
}

.top-content {
  @include span-columns(12);
  @include vertical-gutter;
}

.big {
  @include span-columns(8 of 12);
  @include box(top-content, -25px);
  height: 591.31px;
  .caption {
    h5 {
      text-transform: uppercase;
      color: $orange;
      font-size: 1.05em;
    }
  }
}

.medium-container {
  @include span-columns(4 of 12);
  height: 591.31px;
}

.medium {
  @include box(top-content, -15px);
  height: 279.655px;
  &:first-of-type {
    @include vertical-gutter;
  }
}

.rectangle-container {
  @include vertical-gutter;
  @include span-columns(12);
}

.rectangle {
  @include span-columns(6 of 12);
  @include box;
  height: 175px;
  img {
    float: left;
  }
}

.small-container {
  @include span-columns(12)
}

.small {
  @include span-columns(3 of 12);
  @include box;
  height: 165px;
}

.main-side-bar {
  @include span-columns(4);
  @include box;
  height: 656px;
}
